<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
    <h1 style="margin-top: 220px; margin-bottom: 0;">Dagens Menu</h1>

    <div class="icon-sep">
        <img src="/static/img/ChatGPT Image 30. sep. 2025, 09_58_29.png" alt="Spaghetti">
    </div>
    <div class="tekst-pris">
        <p style="font-size: 40px; margin-top: 0px;">Tirsdag -</p>
        <p style="font-size: 32px;">Spaghetti med saus</p>
        <p style="font-size: 28px;">Pris: 45 kr</p>
    </div>
    <p class="tekst-bottom">Velkomen til Vågen VGS kantina</p>
</body>

</html>