<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>{{ username }}</span>

    <h2> brukernavn </h2>
    <h1> pasword </h1> <textarea> {{ password }} </textarea>
    <style> 
        h1 {
            textarea: 10px;
            color: black;
            background-color: hvite;
            text-align: center;
            font-family: Arial, sans-serif;
            border: 2px solid black;
        }
        h2 {
            textarea: 10px;
            color: black;
            background-color: hvite;
            text-align: center;
            font-family: Arial, sans-serif;
            border: 2px solid black;
        }
    </style>

    <h1> hello WEtyFworldvguvg </h1>


</body>
</html>