<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKOLE Kantina</title>
    <link rel="stylesheet" href="/static/css/martynas.css">
</head>
<body>
    <h1> Login </h1>
    <input type="text" class="brukernavn"  name="brukernavn" placeholder="username" />
    <input type="password" class="passord" name="passord" placeholder="password" />
    <button class="h2" type="submit" onclick="login()">log in</button>
</form>
    <button class="h3" type="button" onclick="signIn()">sign in</button>
    <script>
        function signIn(){
            window.location.href="{{ url_for('register_page') }}"
        }

        function login(){
            const brukernavn = document.querySelector(".brukernavn").value;
            const passord = document.querySelector(".passord").value;

            if (brukernavn === "martynas" && passord === "martynas123") {
                window.location.href = "https://4.bp.blogspot.com/-0TrTyhEuOJ8/WIfyjvK_qiI/AAAAAAAAAOo/bOy3PRIscU49M6ZG7juyI09lolHi3Bq9wCLcB/s1600/yey.jpg";   ///mideltidig
            } else {
                alert("Feil brukernavn eller passord");
            }


        }

    </script>


</body>
</html>